@import "/src/utilities/UTLS.scss";

.DottSliderDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 2vh;
    border-radius: 2vh;
    background-color: $color-theme-a;
    padding: 0.5vh 1vh 0.5vh 1vh;
    gap: 1vh;

    &__dottCenter {
        width: 1.5vh;
        height: 1.5vh;
        border-radius: 1vh;
        background-color: $color-theme-b;
        transition: all ease-in-out 0.4s;

        &-active {
            @extend .DottSliderDisplay__dottCenter;
            background-color: $color-black;
        }
    }
}
