@import "/src/utilities/UTLS.scss";

.MainFullFrame-Layout {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;

    &__Headline {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: 50;

        @include media("vertical") {
            height: 17.5vh;
        }

        @include media("vertical-short") {
            height: 14.5vh;
        }

        @include media("vertical-long") {
            height: 12.5vh;
        }
    }

    &__Content {
        height: 100%;
        width: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &--space {
            height: 2.5vh;
        }
    }
}

.MainFullFrame-Headline {
    font-family: Himpun;
    font-size: 20vh;
    color: $color-theme-a;
    margin: unset;
    opacity: 75%;
    transition: all ease-in-out 0.1s;

    @include media("vertical") {
        font-size: 15vh;
    }

    @include media("vertical-short") {
        font-size: 12vh;
    }

    @include media("vertical-long") {
        font-size: 10vh;
    }
}

.MainFullFrame-Section {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    position: relative;
    width: 100%;
    min-height: calc(100% - 22.5vh);
    padding-top: 22.5vh;

    @include media("vertical") {
        min-height: calc(100% - 15vh);
        padding-top: 15vh;
    }

    @include media("vertical-short") {
        min-height: calc(100% - 12vh);
        padding-top: 12vh;
    }

    @include media("vertical-long") {
        min-height: calc(100% - 10vh);
        padding-top: 10vh;
    }
}
