@font-face {
    font-family: "Himpun";
    font-style: normal;
    font-weight: 400;
    src: local("Himpun"), url("/src/assets/fonts/Himpun.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    src: local("Syne-Regular"), url("/src/assets/fonts/Syne-Regular.woff2") format("woff2");
    font-display: swap;
}
