@import "/src/utilities/UTLS.scss";

header {
    order: 2;
    @include media("vertical") {
        position: fixed !important ;
    }
}

main {
    order: 1;

    @include media("vertical") {
        height: calc(100% - 7vh) !important ;
    }
}
